/*
*{
	border: 1px solid black;
}*/


/*change selection colour*/
::selection {
	color: #fff;
	background-color: #333;
}

::-moz-selection {
	color: #fff;
	background-color: #333;
}

/*fix the content*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	min-height: 100vh;
	color: #34495e;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h3 {
	letter-spacing: 1px;
}

h2,
h3,
a {
	color: #34495e;
}

a:link {
	text-decoration: none;
	color: #34495e;
}

a:visited {
	text-decoration: none;
	color: #34495e;
}

footer {
	text-align: center;
	margin: 5em;
}

footer span {
  color: #AAA;
}


.logo {
	padding: 0.3em;
	font-size: 1.45em;
	margin-left: 1em;
}

.main-nav {
	margin-top: 5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.5px;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}


.header {
	padding: 0.4em;
	background-color: rgba(0,0,0,0.3);
}

.cover {
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/*page setup*/


.room {
	padding: 1em;
	text-align: center;
}

.box1 {
    display: inline-block;
    width: 50%;
    height: 60%;
    float: right;
    padding: 2em;
    margin: 2em 0;
}

.box1 a {
	font-size: 30px;
	letter-spacing: 2px;
}

.box1 p {
	margin-top: 2em;
}


#cover-image{
	width: 100%;
	padding: 0.1em;
}

/*roomdetails css*/
.details {
	padding: 1em;
}

.details p{
	width: 60%;
}

/*login css*/
.login{
	padding: 1em;
	text-align: center;
}

.login table {
	margin: auto;
}


/*register css*/
.register {
	padding: 1em;
	text-align: center;
}

.register button{
	text-align: left;
}

.register table {
	margin: auto;
}

.register tr, th, td {
	padding: 0 0.2em;
}

/*search css*/
.search{
	padding: 1em;
	text-align: center;
}

.search table {
	margin:auto;
	padding: 0;
}

.search tr, th, td{
	padding: 0 0.2em;
}


/*searchresult css*/
.result {
	padding: 1em;
}

.result h3 {
	text-align: center;
}

.section {
	text-align: center;
}

.section p {
	width: 70%;
	margin: auto;
}

.box {
	display: inline-block;
	width: 50%;
	float: left;
	padding: 1em;
}

#room-image {
	width: 100%;
}


/*confrim css*/
.confirm {
    padding: 1em;
    text-align: center;
}

.confirm table {
	margin: auto;
}


/*reservation css*/
.reservation {
	padding: 1em;
	text-align: center;
}

/*availability css*/
.availability {
	padding: 1em;
}

.availability h1 {
	text-align: center;
}




